SUPABASE_PROJECT_ID="aivbosjbmwcxyuyekaoq"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_gPflnuFuRorg_DEm7p4duw_bhG8qP0x"
SUPABASE_URL="https://aivbosjbmwcxyuyekaoq.supabase.co"
VITE_SUPABASE_PROJECT_ID="aivbosjbmwcxyuyekaoq"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_gPflnuFuRorg_DEm7p4duw_bhG8qP0x"
VITE_SUPABASE_URL="https://aivbosjbmwcxyuyekaoq.supabase.co"
